@use '../../../../styles/spacing';

.mat-column-amount {
  flex: 0 0 spacing.get(48);
}

.mat-column-delete {
  flex: 0 0 spacing.get(20);
}

.snapshot-date {
  max-width: spacing.get(42);
}

.snapshot-delete {
  align-self: flex-start;
  margin-top: spacing.get(2);
}
