@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'themes';

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  &:hover {
    background: #1e1e1e;
  }
}

html {
  font-family: 'Montserrat', sans-serif;
}

html,
body,
app-root {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html,
  body,
  app-root {
    height: 100vh;
    overflow: hidden;
  }

  app-budget-listing {
    height: 100%;
    overflow-y: auto;
  }
}

app-root {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
}

input {
  background: inherit;
  border: none;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit !important;
  }
}

// General

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.selected {
  font-weight: bold;
}

.sm-icon {
  font-size: 15px;
}

.no-wrap {
  white-space: nowrap;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.text-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/*
 * Material Design
 */

// For some reason adding theme to these components cause issues with the
// line height causing icons to not be centered
button.mdc-icon-button {
  line-height: 24px;
}

.mat-mdc-dialog-content {
  min-width: 400px;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.mdc-tab__text-label span {
  text-transform: uppercase;
  font-size: 1rem;
}

.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}

/*
 * Shared component styles
 */

// Rev & Exp Listings
.frequency-flag {
  font-size: 11px;
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

// Budgets
.budgets-pie-chart {
  position: relative;
  width: 100%;
  height: 150px;
}

@media (min-width: 768px) {
  .budgets-pie-chart {
    height: 175px;
  }
}

@media (min-width: 1200px) {
  .budgets-pie-chart {
    height: 200px;
  }
}
