@use '@angular/material' as mat;

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Montserrat,
    )
  );
}

html.dark {
  color-scheme: dark;
}

// Theme based styles
.mat-theme-red {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

.active-mat-button {
  background: color-mix(
    in srgb,
    var(--mat-sys-primary) 30%,
    transparent
  ) !important;
}
