@use 'sass:map';
@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$theme-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$violet-palette,
    ),
  )
);

html {
  // Default
  @include mat.all-component-themes($theme-light);
  @include mat.color-variants-backwards-compatibility($theme-light);
}

$theme-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$violet-palette,
    ),
  )
);

html.dark {
  @include mat.all-component-colors($theme-dark);
  @include mat.color-variants-backwards-compatibility($theme-dark);
}

// Theme based styles
.active-mat-button {
  background: color-mix(
    in srgb,
    mat.get-theme-color($theme-dark, primary, 70) 30%,
    transparent
  ) !important;
}
