<mat-list>
  @for (balance of financeService.selectedBudget?.balances; track balance) {
    <mat-list-item>
      <div class="d-flex align-items-center">
        <span matListItemTitle class="fill-space text-ellipsis pe-1">
          <a
            class="pointer"
            matLine
            [routerLink]="['./balance', balance.id, 'edit']"
            >{{ balance.description }}</a
          >
        </span>
        <div matListItemLine>$ {{ balance.amount }}</div>
      </div>
    </mat-list-item>
  }
</mat-list>
