@use '../../../styles/spacing';

.wrapper {
  overflow-y: auto;
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: spacing.get(0.5);
}

.week {
  display: flex;
  display: row;
  flex-wrap: nowrap;
  gap: spacing.get(0.5);
  flex-grow: 1;

  .day {
    width: 14.285%;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--mat-sys-surface-container-lowest);
  }

  &:first-child {
    .day {
      overflow: hidden;
      &:first-child {
        border-top-left-radius: var(--mat-sys-corner-extra-large);
      }
      &:last-child {
        border-top-right-radius: var(--mat-sys-corner-extra-large);
      }
    }
  }

  &:last-child {
    .day {
      overflow: hidden;
      &:first-child {
        border-bottom-left-radius: var(--mat-sys-corner-extra-large);
      }
      &:last-child {
        border-bottom-right-radius: var(--mat-sys-corner-extra-large);
      }
    }
  }
}

.day-headers {
  display: flex;
}

.day-header {
  width: 14.285%;
  font: var(--mat-sys-label-small);
  text-align: center;
}

.date {
  font: var(--mat-sys-label-small);
  text-align: center;
}

.items {
  margin-top: auto;
  overflow-y: auto;
  font: var(--mat-sys-label-medium);
  white-space: nowrap;
}

.balance {
  position: relative;
  font: var(--mat-sys-label-large);
}

.positive {
  color: rgb(75, 192, 192);
}

.negative {
  color: rgb(255, 99, 132);
}

.out-of-period {
  & > .date {
    color: rgba(127, 127, 127, 0.7);
  }

  & > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mat-sys-surface-container-lowest);
    opacity: 0.5;
    z-index: 1;
  }
}

.today {
  background: rgba(90, 230, 255, 0.09);
}
