@if (newExpense) {
  <form (ngSubmit)="edit(form)" #form="ngForm">
    <h4 mat-dialog-title>Edit Expense</h4>
    <div mat-dialog-content>
      <div class="my-2">
        <mat-form-field hintLabel="Max 20 characters">
          <input
            matInput
            placeholder="Description"
            [(ngModel)]="newExpense.description"
            id="description"
            name="description"
            #description="ngModel"
            required
            maxlength="20"
          />
          <mat-hint align="end">
            {{ description.value?.length || 0 }}/20
          </mat-hint>
          @if (description.hasError('required')) {
            <mat-error>Required</mat-error>
          }
          @if (description.invalid && !description.hasError('required')) {
            <mat-error>Description is not valid</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="my-2">
        <mat-form-field>
          <input
            matInput
            type="number"
            class="text-end"
            placeholder="Amount"
            [(ngModel)]="newExpense.amount"
            id="amount"
            name="amount"
            #amount="ngModel"
            required
          />
          @if (amount.hasError('required')) {
            <mat-error>Required</mat-error>
          }
          @if (amount.invalid && !amount.hasError('required')) {
            <mat-error>Amount is not valid</mat-error>
          }
        </mat-form-field>
      </div>
      <h6 class="my-3 pt-2">Frequency</h6>
      <div class="my-2">
        <mat-form-field>
          <mat-select
            placeholder="Frequency"
            required
            #frequency="ngModel"
            [(ngModel)]="newExpense.frequency"
            name="frequency"
          >
            @for (frequency of frequencies; track frequency) {
              <mat-option [value]="frequency">{{ frequency }}</mat-option>
            }
          </mat-select>
          @if (frequency.hasError('required')) {
            <mat-error>Required</mat-error>
          }
        </mat-form-field>
      </div>
      @if (
        newExpense.frequency === 'Weekly' ||
        newExpense.frequency === 'Bi-Weekly'
      ) {
        <div class="d-flex flex-column my-2">
          <mat-checkbox [(ngModel)]="newExpense.repeatSun" name="repeatSun">
            Sun
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="newExpense.repeatMon" name="repeatMon">
            Mon
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="newExpense.repeatTue" name="repeatTue">
            Tue
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="newExpense.repeatWed" name="repeatWed">
            Wed
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="newExpense.repeatThu" name="repeatThu">
            Thu
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="newExpense.repeatFri" name="repeatFri">
            Fri
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="newExpense.repeatSat" name="repeatSat">
            Sat
          </mat-checkbox>
        </div>
      }
      <h6 class="my-3 pt-2">Time Span</h6>
      <div class="my-2">
        <mat-checkbox [(ngModel)]="newExpense.isForever" name="isForever">
          Is Forever
        </mat-checkbox>
      </div>
      @if (
        !newExpense.isForever ||
        newExpense.frequency === 'Once' ||
        newExpense.frequency === 'Monthly' ||
        newExpense.frequency === 'Yearly'
      ) {
        <div class="my-2">
          <mat-form-field>
            <input
              matInput
              #startDate="ngModel"
              name="startDate"
              placeholder="Start Date"
              [(ngModel)]="newExpense.startDate"
              [matDatepicker]="startDatePicker"
              required="!isForever || frequency === 'Once' || frequency === 'Monthly' || frequency === 'Yearly'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            @if (startDate.invalid) {
              <mat-error>Date is not valid</mat-error>
            }
          </mat-form-field>
        </div>
      }
      @if (!newExpense.isForever) {
        <div class="my-2">
          <mat-form-field>
            <input
              matInput
              #endDate="ngModel"
              name="endDate"
              placeholder="End Date"
              [(ngModel)]="newExpense.endDate"
              [matDatepicker]="endDatePicker"
              required="!isForever"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            @if (endDate.invalid) {
              <mat-error>Date is not valid</mat-error>
            }
          </mat-form-field>
        </div>
      }
      <div class="my-3">
        <button
          type="button"
          mat-stroked-button
          class="mat-theme-red"
          (click)="requestDelete()"
          [disabled]="form.invalid || isSubmitting"
        >
          <mat-icon>delete</mat-icon> Delete
        </button>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button [mat-dialog-close]>
        <mat-icon>close</mat-icon> Close
      </button>
      <button
        type="submit"
        mat-flat-button
        [disabled]="form.invalid || isSubmitting"
      >
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
    @if (errors) {
      <div class="alert alert-danger mb-0 mt-5" role="alert">
        <strong>Oops!</strong> {{ errors }}
      </div>
    }
    <app-spinner [isRunning]="isSubmitting"></app-spinner>
  </form>
}
