<mat-list>
  @for (
    expense of financeService.budget?.expenses() | sortBy: 'description';
    track expense
  ) {
    <mat-list-item>
      <div class="d-flex align-items-center">
        <div class="frequency-flag">
          {{ expense.frequency.substring(0, 1) }}
        </div>
        <div class="fill-space text-ellipsis pe-1">
          <a
            class="pointer"
            matLine
            [routerLink]="['./expense', expense.id, 'edit']"
            class="me-2"
            >{{ expense.description }}</a
          >
        </div>
        <div class="fill-space text-end">
          $ {{ expense.amount | number: '1.0' }}
        </div>
      </div>
    </mat-list-item>
  }
</mat-list>
