@if (myBalance) {
  <form (ngSubmit)="create(form)" #form="ngForm">
    <h4 mat-dialog-title>Add Balance</h4>
    <div mat-dialog-content>
      <div class="my-2">
        <mat-form-field hintLabel="Max 15 characters">
          <input
            matInput
            placeholder="Description"
            [(ngModel)]="myBalance.description"
            id="description"
            name="description"
            #description="ngModel"
            required
            maxlength="15"
          />
          <mat-hint align="end">
            {{ description.value?.length || 0 }}/15
          </mat-hint>
          @if (description.hasError('required')) {
            <mat-error>Required</mat-error>
          }
          @if (description.invalid && !description.hasError('required')) {
            <mat-error>Description is not valid</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="my-2">
        <mat-form-field>
          <input
            matInput
            type="number"
            class="text-end"
            placeholder="Amount"
            [(ngModel)]="myBalance.amount"
            id="amount"
            name="amount"
            #amount="ngModel"
            required
          />
          @if (amount.hasError('required')) {
            <mat-error>Required</mat-error>
          }
          @if (amount.invalid && !amount.hasError('required')) {
            <mat-error>Amount is not valid</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button [mat-dialog-close]>
        <mat-icon>close</mat-icon> Close
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid || isSubmitting"
      >
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
    @if (errors) {
      <div class="alert alert-danger mb-0 mt-5" role="alert">
        <strong>Oops!</strong> {{ errors }}
      </div>
    }
    <app-spinner [isRunning]="isSubmitting"></app-spinner>
  </form>
}
