<mat-toolbar color="primary">
  @if (financeService.budget) {
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  @if (!financeService.budget) {
    <div class="fill-space"></div>
    <button mat-icon-button [routerLink]="['/add']">
      <mat-icon>add</mat-icon>
    </button>
  }
  @if (financeService.budget) {
    <button mat-button [matMenuTriggerFor]="budgetsMenu">
      @if (financeService.budget) {
        <span class="nav-dropdown">
          {{ financeService.budget.name }}
        </span>
      }
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <div class="fill-space"></div>
    <button
      mat-icon-button
      class="primary"
      [routerLink]="['/', financeService.budget.id, 'edit']"
    >
      <mat-icon>mode_edit</mat-icon>
    </button>
    <button
      mat-icon-button
      [routerLink]="['/', financeService.budget.id, 'add']"
    >
      <mat-icon>add</mat-icon>
    </button>
  }
  <app-theme-picker />
</mat-toolbar>

<mat-menu #budgetsMenu="matMenu" overlapTrigger="false">
  @if (financeService.budgets) {
    @for (
      subItem of financeService.budgets
        | filter: 'isActive' : true
        | sortBy: 'name';
      track subItem
    ) {
      <a
        mat-menu-item
        [routerLink]="['/', subItem.id]"
        [ngClass]="
          subItem.id === financeService.budget?.id ? 'selected' : ''
        "
      >
        {{ subItem.name }}
      </a>
    }
  }

  @if (
    financeService.budgets &&
    (financeService.budgets | filter: 'isActive' : false).length > 0
  ) {
    <div mat-menu-item [matMenuTriggerFor]="subMenu">Archive</div>
  }
</mat-menu>

<mat-menu #subMenu="matMenu">
  @if (financeService.budgets && financeService.budgets.length > 0) {
    @for (
      subItem of financeService.budgets
        | filter: 'isActive' : false
        | sortBy: 'name';
      track subItem
    ) {
      <a
        mat-menu-item
        [routerLink]="['/', subItem.id]"
        [ngClass]="
          subItem.id === financeService.budget?.id ? 'selected' : ''
        "
      >
        {{ subItem.name }}
      </a>
    }
  }
</mat-menu>
