<mat-list>
  @for (
    revenue of financeService.budget?.revenues | sortBy: 'description';
    track revenue
  ) {
    <mat-list-item>
      <div class="d-flex align-items-center">
        <div class="frequency-flag">
          {{ revenue.frequency.substring(0, 1) }}
        </div>
        <div class="fill-space text-ellipsis pe-1">
          <a
            class="pointer"
            matLine
            [routerLink]="['./revenue', revenue.id, 'edit']"
            class="me-2"
            >{{ revenue.description }}</a
          >
        </div>
        <div class="fill-space text-end">$ {{ revenue.amount }}</div>
      </div>
    </mat-list-item>
  }
</mat-list>
